@value small from './breakpoints.css';

.main {
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
	transform: scale(.67);
	margin-top: -50px;
	pointer-events: none;
}

h1 {
	font-size: 55px;
	font-weight: 100;
	margin-top: 11px;
}

.handHolder {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	/*height: 80px;*/
	/*border: 1px solid red;*/
	flex-wrap: wrap;
	margin-top: 0px;
}

.effect, .like {
	padding-right: 20px;
}




.hand {
	margin-top: 6px;
	margin-left: 10px;
	position: relative;
	top:-4px;
}


@media small {
	.main {
		transform: scale(1);
		margin-top: 0px;
	}
}