@value small from './breakpoints.css';




@customss-media --small from "./breakpoints.css";

.main {
  min-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

.page1 {
	min-height: 100vh;
	padding: 0px 20px 50px 20px;
	background-color: #A3DACE;
  color: black;

}


@media small {
  .main {
    /*min-width: 700px;*/
    max-width: 1900px;
    padding: 0;

  }

  .page1 {
    /*height: 100vh;*/
    min-height: 800px;
    padding: 30px 20px 50px 20px;
    padding-bottom: 155px;
  }
}