@value small from './breakpoints.css';




@customss-media --small from "./breakpoints.css";

.main {
  min-width: 100%;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

.page1 {
	height: 100vh;
	padding-top: 30px;
	background-color: #A3DACE;
	color: #F79688;
  color: #F3F4DD;
  color: black;

}


@media small {
  .main {
    /*min-width: 700px;*/
    max-width: 1900px;
    padding: 0;
  }
}