@value small from './breakpoints.css';




@customss-media --small from "./breakpoints.css";

.main {
  min-width: 100%;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.page1 {
	height: 100vh;
	padding-top: 30px;
	background-color: grey;
	/*color: white;*/
}


@media small {
  .main {
    /*min-width: 700px;*/
    max-width: 1900px;
    padding: 0;
  }
}