@value small from './breakpoints.css';

.flipcontainer {
	/*perspective: 1000px;*/
	background-color: #F3F0D8;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;


}
/*.flipcontainer:hover .main {
	transform: rotateY(180deg);
}*/

.main {
	display: block;
	position: relative;
	color: white;
	font-size: 20px;
	box-shadow: 0px 0px 20px #888888;
	transition: .5s;
	width: 100%;
	font-family: 'Arvo', serif;
}

.holder {
	position: relative;
	margin: 0 auto;
	margin-top: 22px;
	max-width: 100%;
}





.column {
	justify-content: flex-start;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	padding-top: 50px;
	width: 100%;
}


.ui-holder {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}

.ui-holder button {
	/*flex:1 1 90%;*/
	flex-basis: calc(50% - 10px);

}

.ui-holder button:hover {
	background-color: #f4a99f;
}


.ui-holder button:focus {
	outline: 0;
	/*border: none;*/
}

.absolutely {
	position: absolute;
	top:0;
	left:0;
}

.frontback {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}


.cover {
	background-color: rgba(0,0,0,.85);
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index: 11;
	transition: 1s;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .5s;
	overflow: hidden;
	/*display: none;*/
}

.coverShowCapture {
	composes: cover;
	width: 100%;
	left: 0%;
}

.coverShowAll {
	composes: cover;
	width: 0%;
	left: 50%;
}

.cover i {
	font-size: 255px;
	color: #555;
}

.title {
	color: black;
	font-size: 39px;
	line-height: 45px;
	font-weight: 100;
	font-family: 'Fredericka the Great', cursive;
}

.content {
	max-width: 600px;
}

@media small {
  	.main {
		display: flex;
		align-items: stretch;
		transform-style: initial;
	}

  	.flipcontainer {
		perspective: initial;
	}

	.column {
		width: 50%;
	}


	.frontback {
		backface-visibility: visible;
		position: relative;
		top: 0;
		left: 0;
	}

	.coverShowCapture {
		composes: cover;
		width: 50%;
		left: 50%;
	}

}