@value small from './breakpoints.css';
@value color: #2f2f2f;

.main {
	composes: column from './CaptureRender.css';
	/*composes: frontback from './CaptureRender.css';*/
	background-color: #f9b0a5;
	color: color;
	/*border-right: 11px solid #af695f;*/
	z-index: 2;
	/*transform: rotateY(0deg);*/
}

.holder {
	composes: holder from './CaptureRender.css';
	overflow: hidden;



	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checker {
	composes: absolutely from './CaptureRender.css';
	z-index: 0;
}

.captureImage {
	composes: absolutely from './CaptureRender.css';
	z-index: 1;
}

.canvas {
	composes: absolutely from './CaptureRender.css';
	/*border: 1px solid red;*/
	z-index: 10;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	/*position: relative;*/
}



.title {
	composes: title from './CaptureRender.css';
}

.content {
	composes: content from './CaptureRender.css';
}




button {
	border-color: color;
	color: color;
}


.brush {
	width: 100%;
	margin-top: 22px;
}

.brushSize {
	width: 100%;
}


.points {
	margin-top: 30px;
	width: 100%;
}

.totalPoint {
	text-align: center;
}



.uiHolder {
	composes: ui-holder from './CaptureRender.css';
	/*height: 100%;*/
	/*align-items: flex-end;*/
}


.pointsTextArea {
	width: 100%;
	border:none;
	font-size: 12px;
	line-height: 18px;
	background-color: #f7bcb3;
	padding: 15px;
	margin-top: 9px;
}










@media small {
  .main {

  }

}