@value small from './breakpoints.css';

.flipcontainer {
	perspective: 1000px;
	background-color: #F3F0D8;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Diplomata SC', cursive;

}
.flipcontainer:hover .main {
	/*transform: rotateY(180deg);*/
}

.main {
	display: block;
	position: relative;
	/*padding-top: 50px;*/
	color: white;
	font-size: 20px;
	box-shadow: 0px 0px 20px #888888;

	transition: .5s;
	transform-style: preserve-3d;
	/*min-height: 100vh;*/
	width: 100%;


}

.holder {
	position: relative;
	margin: 0 auto;
	margin-top: 22px;
	max-width: 100%;
}


h3 {
	font-size: 22px;
	line-height: 40px;
	font-weight: 100;
}


.column {
	justify-content: flex-start;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	padding-top: 50px;
	width: 100%;
}


.ui-holder {
	display: flex;
	margin-top: 20px;
}

.absolutely {
	position: absolute;
	top:0;
	left:0;
}

.frontback {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	/*opacity: .2;*/
}


.cover {
	background-color: rgba(0,0,0,.85);
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index: 11;
	transition: 1s;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .5s;
	overflow: hidden;
}

.coverShowCapture {
	composes: cover;
	width: 50%;
	left: 50%;
}

.coverShowAll {
	composes: cover;
	width: 0%;
	left: 50%;
}

.cover i {
	font-size: 255px;
	color: #555;
}

@media small {
  	.main {
		display: flex;
		align-items: stretch;
		transform-style: initial;
	}

  	.flipcontainer {
		perspective: initial;
	}

	.column {
		width: 50%;
	}


	.frontback {
		backface-visibility: visible;
		position: relative;
		top: 0;
		left: 0;
		/*opacity: .2;*/
	}

}