@value small from './breakpoints.css';

.flipcontainer {
	perspective: 1000px;
}
.flipcontainer:hover .main {
	/*transform: rotateY(180deg);*/
}

.main {
	display: block;
	position: relative;
	margin: 50px auto 0;
	color: white;
	font-size: 20px;
	box-shadow: 0px 0px 20px #888888;

	transition: .5s;
	transform-style: preserve-3d;

}

.holder {
	position: relative;
	margin: 0 auto;
	margin-top: 22px;
	max-width: 100%;
}


h3 {
	font-size: 30px;
	line-height: 40px;
}


.column {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	padding-top: 50px;
	width: 100%;
}


.ui-holder {
	display: flex;
	margin-top: 20px;
}

.absolutely {
	position: absolute;
	top:0;
	left:0;
}

.frontback {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	/*opacity: .2;*/
}




@media small {
  	.main {
		display: flex;
		align-items: stretch;
		transform-style: initial;
	}

  	.flipcontainer {
		perspective: initial;
	}

	.column {
		width: 50%;
	}


	.frontback {
		backface-visibility: visible;
		position: relative;
		top: 0;
		left: 0;
		/*opacity: .2;*/
	}

}