@value small from './breakpoints.css';

.main {
	/*border: 1px solid red;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

h3 {
	font-size: 30px;
	font-family: avo;
	color: #cb0001;
	font-weight: 300;
}

.images {
	display: block;
}

.imageItem {
	border: 5px solid rgba(0,0,0,0);
	box-shadow: 0 0px 20px rgba(0,0,0,.2);
	border-radius: 222px;

	transition: .5s;
	/*width: 150px;*/
	transform: scale(.5);
	cursor: pointer;

	margin-bottom: -100px;
}

img {
	/*width: 100%;*/
}

.imageItem:hover {
	border: 5px solid #cb0001;
}


@media small {
	.images {
		display: flex;
	}

	.imageItem {
		margin: 0 -48px;
	}
}