@value small from './breakpoints.css';
@value size: 500px;

.main {
	border: 5px dashed #F3F4DD;
	width: size;
	height: size;
	border-radius: size;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;


	/*color: red;*/
	/*font-size: 55px;*/
}


.stateOut h1 {
	font-size: 40px;
	text-align: center;
	line-height: 47px;
	/*padding: 0 26px;*/
}

.main:hover {

}

.active {
	color: #F79688;
	text-align: center;
	border-color: #F79688;
}


.dropzone{
	padding: 33px;
	font-family: 'Fredericka the Great', cursive;
	color: #F3F4DD;
}

.pictures{
	margin-top: 20px;
	font-size: 50px;
	text-align: center;
}

.stateOut{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.reco {
	font-family: avo;
	/*border: 1px solid red;*/
	text-align: center;
	margin-top: 10px;
	font-size: 29px;
	line-height: 34px;
	padding: 0 50px;
}



@media small {
  	.main {
    	width: size;
		height: size;
		margin-top: 68px;
  	}

  	.stateOut h1 {
		font-size: 61px;
		text-align: center;
		line-height: 77px;
		padding: 0 26px;
	}

	.pictures{
		margin-top: 20px;
		font-size: 100px;
		text-align: center;
	}
}