@value size: 600px;

.main {
	border: 5px dashed rgba(0,0,0,.7);
	width: size;
	height: size;
	border-radius: size;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(0,0,0,.7);
	font-size: 55px;
}


.main.hover {
	border: 10px dashed #FF0000;
}


.dropzone{
	/*opacity: .1;*/
}

.pictures{
	margin-top: 20px;
	font-size: 100px;
	text-align: center;
}

.stateOut{
	display: flex;
	flex-direction: column;
	justify-content: center;
}