@value small from './breakpoints.css';
@value color: #2f2f2f;

.main{
	composes: column from './CaptureRender.css';
	/*composes: frontback from './CaptureRender.css';*/
	background-color: #a2e0b8;
	color: color;
	/*border: 11px solid white;*/
	/*border-left: 11px solid #354629;*/

	/*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

	/*transform: rotateY(180deg);*/




}


.holder {
	composes: holder from './CaptureRender.css';
}

.renderImage {
	composes: absolutely from './CaptureRender.css';
	opacity: 0;
}

.button {
	color: color;
	border-color: color;
}

.canvas {
	composes: absolutely from './CaptureRender.css';
	border: 1px solid color;
}

.uiWrapper {
	display: flex;
	align-items: flex-end;
	margin-top: 22px;
}

.uiHolder {

}

.brush {
	width: 100%;
	margin-top: 22px;
}

.brushSize {
	width: 100%;
}

.code {
	/*width: 100%;*/
	font-size: 14px;
	/*background-color: #111;*/
	margin-top: 50px;
	/*padding: 10px;*/
	/*min-height: 180px;*/
	color: inherit;

}

.codeLabel {
	font-size: 20px;
}

.title {
	composes: title from './CaptureRender.css';
}

.cleanFromBehind {
	margin-top: 22px;
	font-size: 14px;
}

.cleanFromBehind input[type=checkbox]{
	margin-right: 10px;
}



.content {
	composes: content from './CaptureRender.css';
	display: flex;
	flex-direction: column;

}

.handwrite {
	display: flex;
	justify-content: center;
}

/*pre[class*="language-"] code{
	background-color: rgba(255, 255, 255, 1);
}*/

code {
	white-space: pre-wrap !important;
}

@media small {
  .main {
    position: relative;
	width: inherit;
    height: inherit;
    transform: initial;
  }
}





